.horizList {
	scroll-behavior: smooth;
	display: flex;
	overflow-x: auto;
	height: 20vh;
	min-height: 150px;
	margin-bottom: 7vh;
	width: 100%;
	padding-left: 20px;
}

.horizListContainer {
	position: relative;
}

.horizList a {
	/*overflow: hidden;*/
	/*width: 100%;*/
	margin-right: 0.5vw;

	height:100%;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.horizList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.horizList img {
	height: 100%;
}

.horizList::-webkit-scrollbar {  
 	display: none;
}

.sectionTitle h1 {
	color: white;
	font-size: 2rem;
	line-height: 1.5;
	padding-bottom: 1vh;
}

.lists {
	margin-top: 10vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  font-size: 30px;
  margin-top: -29px;
}


/* ------------------------------------- HEADER MOVIE ----------------------------------------- */

.headerMovie {
	width: 100vw;
}

.headerMovie img {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	z-index: -99;
}

.headerLogo img {
	width: 35vw;
}

.headerInfo {
	display: flex;
	flex-direction: column;
	width: 35vw;
	flex-wrap: wrap;
	padding-left: 3vw;

}

.headerText p {
	color: white;
	font-size: 1.2rem;
	line-height: 1.2;
}

.headerText {
	padding-top: 5vh;
}

.headerText {
	padding-bottom: 5vh;
}

.headerLogo {
	padding-top: 10vh;
}


@media only screen and (max-width: 900px) {
	.headerInfo {
		display: none;
	}
	.headerMovie {
		display: none;
	}
}


/* ------------------------------------- MORE BUTTONS (PLAY, MORE INFO) ----------------------------------------------- */

.moreButtons {
	display: flex;
	flex-direction: row;
	/*justify-content: space-evenly;*/
}

